@page
@model WebCam_Streaming.Pages.CameraDashboard.IndexModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Display Webcam Stream</h1>
    <div id="container">
        <video autoplay id="videoElement" class="video-stream"></video>
    </div>

    <script src="~/js/Decoder.js"></script>
    <script>
        const video = document.getElementById('videoElement');

        const ws = new WebSocket('ws://localhost:5055');

        ws.binaryType = 'arraybuffer';

        ws.onopen = function (event) {
            console.log('WebSocket connection established:', event);
        };

        ws.onmessage = function (event) {
            console.log('Received data from WebSocket:', event.data);

           
            const blob = new Blob([event.data], { type: 'video/webm' });

           
            const url = URL.createObjectURL(blob);

            video.src = url;
        };

        ws.onerror = function (event) {
            console.error('WebSocket error:', event);
        };

        ws.onclose = function (event) {
            console.log('WebSocket connection closed:', event);
        };
    </script>
</body>
</html>


<style>

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .video-stream {
        width: 400px;
        height: 275px;
        border: 2px solid #333;
    }

</style>