@page
@model WebCam_Streaming.Pages.CameraDashboard.SampleModel
@{
    ViewData["Title"] = "Sample";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Entry</title>
</head>
<body>

    <input type="text" id="nameInput" placeholder="Enter your name">
    <button onclick="displayEnteredName()" class="button">submit</button>

    <p id="displayName"></p>

    <script>
        function displayEnteredName() {
            var enteredName = document.getElementById("nameInput").value;
            document.getElementById("displayName").textContent = "Entered Name: " + enteredName;
        }
    </script>

</body>
</html>


<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
    }

</style>